@model Exercise


<div class="md-form">
    <i class="fa fa-book prefix grey-text"></i>
    @Html.TextBoxFor(e => e.Title, null, new { @id = "newExerciseTitle", @class = "form-control" })
    @Html.LabelFor(e => e.Title, null, new { @for = "newExerciseTitle" })
    @Html.ValidationMessageFor(e => e.Title, null, new { @style = "color:red;" })
</div>

<div class="md-form">
    <i class="fa fa-clock-o prefix grey-text"></i>
    @Html.TextBoxFor(e => e.Reps, null, new { @id = "newExerciseSets", @class = "form-control" })
    @Html.LabelFor(e => e.Reps, null, new { @for = "newExerciseSets" })
    @Html.ValidationMessageFor(e => e.Reps, null, new { @style = "color:red;" })
</div>

<div class="md-form">
    <i class="fa fa-sliders prefix grey-text"></i>
    @Html.TextBoxFor(e => e.Weight, null, new { @id = "newExerciseWeight", @class = "form-control" })
    @Html.LabelFor(e => e.Weight, null, new { @for = "newExerciseWeight" })
    @Html.ValidationMessageFor(e => e.Weight, null, new { @style = "color:red;" })
</div>

<div class="md-form">
    <i class="fa fa-archive prefix grey-text"></i>
    @Html.TextBoxFor(e => e.Type, null, new { @id = "newExerciseType", @class = "form-control" })
    @Html.LabelFor(e => e.Type, null, new { @for = "newExerciseType" })
    @Html.ValidationMessageFor(e => e.Type, null, new { @style = "color:red;" })
</div>