@model IEnumerable<Exercise>

<main>
    <h2>Create a new workout by adding exercises below!</h2>

    @if (!Model.Any())
    {
        <h3>No exercises found!</h3>
    }
    else
    { 
       
        @Html.ActionLink("Start Over", "DeleteTempList", "Workout", null, new { @class = "btn btn-danger", onclick = "alert('Current workout deleted');" })

        @using (Html.BeginForm("AddExerciseToWorkout", "Workout", null, FormMethod.Post))
        {
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Html.DisplayNameFor(m => m.Title)</th>
                        <th>@Html.DisplayNameFor(m => m.Reps)</th>
                        <th>@Html.DisplayNameFor(m => m.Weight)</th>
                        <th>@Html.DisplayNameFor(m => m.Type)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exercise in Model)
                    {
                    <tr>
                        <td>@Html.ActionLink("", "AddExerciseToWorkout", "Workout", new { id = exercise.Id }, new { @class = "fa fa-plus", style = "color: green;font-size: 130%;", onclick = "alert('Exercise added to workout!');" })</td>
                        <td>@Html.DisplayFor(m => exercise.Title)</td>
                        <td>@Html.DisplayFor(m => exercise.Reps)</td>
                        <td>@Html.DisplayFor(m => exercise.Weight)</td>
                        <td>@Html.DisplayFor(m => exercise.Type)</td>
                    </tr>
                    }
                </tbody>
            </table>
        }
    }


    @using (Html.BeginForm("Create", "Workout", null, FormMethod.Post))
    {
        <div class="text-center mt-4">
            <button class="btn btn-success" type="submit" id="createBtn">Create<i class="fa fa-paper-plane-o ml-2"></i></button>
            @Html.ActionLink("Cancel", "Index", "Workout", null, new { @class = "btn btn-danger" })
        </div>
    }
</main>
