@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Workout

<h2>Delete Workout</h2>

<h3>Are you sure you want to delete the following workout?</h3>

@using (Html.BeginForm("Delete", "Workout"))
{
    <table class="table table-responsive-md table-fixed">
        <tbody class="table table-responsive-md table-fixed">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Exercises)</th>
                @*<th>@Html.DisplayNameFor(m => m.Sets)</th>
                    <th>@Html.DisplayNameFor(m => m.Times_Completed)</th>*@
                <th>@Html.LabelFor(e => e.Sets, null, new { @for = "newSets" })</th>
                <th>@Html.LabelFor(e => e.Times_Completed, null, new { @for = "newTimes" })</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @foreach (var exercise in Model.Exercises)
                    {
                        <span style="font-weight:bold; text-decoration:underline;">@Html.DisplayFor(e => exercise.Title)</span><br />
                        <small>
                            <strong>@Html.LabelFor(e => exercise.Reps)</strong> @Html.DisplayFor(e => exercise.Reps)<br />
                            <strong>@Html.LabelFor(e => exercise.Weight)</strong> @Html.DisplayFor(e => exercise.Weight)<br />
                            <strong>@Html.LabelFor(e => exercise.Type)</strong> @Html.DisplayFor(e => exercise.Type)<br />
                        </small>
                        <hr />
                    }
                </td>
            </tr>
        </tbody>
    </table>

    <input type="submit" class = "btn btn-warning btn-group" value="Delete" />
    @Html.ActionLink("Back", "Index", "Workout", null, new { @class = "btn btn-secondary btn-group" })
}


