@model Workout

<hr />
<h2>Now viewing workout <span style="font-weight:bold;">@Model.Id</span></h2>

@using (Html.BeginForm("Update", "Workout", new { id = Model.Id }))
{
    <table class="table table-responsive-md table-fixed">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Exercises)</th>
                <th>@Html.DisplayNameFor(e => e.Created_At)</th>
                <th>@Html.DisplayNameFor(e => e.Sets)</th>
                <th>@Html.DisplayNameFor(e => e.Times_Completed)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @foreach (var exercise in Model.Exercises)
                    {
                        <span style="font-weight:bold; text-decoration:underline;">@Html.DisplayFor(e => exercise.Title)</span><br />
                        <small>
                            <strong>@Html.LabelFor(e => exercise.Reps)</strong> @Html.DisplayFor(e => exercise.Reps)<br />
                            <strong>@Html.LabelFor(e => exercise.Weight)</strong> @Html.DisplayFor(e => exercise.Weight)<br />
                            <strong>@Html.LabelFor(e => exercise.Type)</strong> @Html.DisplayFor(e => exercise.Type)<br />
                        </small>
                        <hr />
                    }
                </td>
                <td>@Html.DisplayFor(e => e.Created_At)</td>
                <td>@Html.TextBoxFor(e => e.Sets, null, new { @class = "form-control" }) @Html.ValidationMessageFor(e => e.Sets, null, new { @style = "color:red;" })</td>
                <td>@Html.TextBoxFor(e => e.Times_Completed, null, new { @class = "form-control" }) @Html.ValidationMessageFor(e => e.Times_Completed, null, new { @style = "color:red;" })</td>
                <td>
                    <input type="submit" value="Update" class="btn btn-info" id="edit" />
                    @Html.ActionLink("Back", "Index", "Workout", null, new { @class = "btn btn-default" })
                </td>
            </tr>
        </tbody>
    </table>
}

<script>
$('#edit').keypress(function (e) {
    if (e.which == 13) {
        $('#editBtn').focus().click();
        return false;
    }
});
</script>

