@model IEnumerable<Workout>


<main>
    <div>
        <h2>Workouts</h2>

        @Html.ActionLink("Add a new Workout", "Create", "Workout", null, new { @class = "btn btn-primary" })

        @if (!Model.Any())
        {
            <h2>No workouts found!</h2>
        }
        else
        {
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Id)</th>
                        <th>@Html.DisplayNameFor(m => m.Sets)</th>
                        <th>@Html.DisplayNameFor(m => m.Times_Completed)</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var workout in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(m => workout.Exercises)</td>
                        <td>@Html.DisplayFor(m => workout.Sets)</td>
                        <td>@Html.DisplayFor(m => workout.Times_Completed)</td>
                        <td>@Html.ActionLink("Details", "Details", "Workout", new { id = workout.Id }, new { style = "text-decoration: underline;" })</td>
                        <td>@Html.ActionLink("Delete", "Delete", "Workout", new { id = workout.Id }, new { style = "color: red; text-decoration: underline;" })</td>
                    </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</main>
