@model IEnumerable<GeneratorViewModel>

<div class="container">
    <h2 class="mt-3">Generator</h2>

    @using (Html.BeginForm("FinishedWorkout", "Generator"))
    {
        <a href="@Url.Action("Random", "Generator")" class="btn btn-secondary my-4" style="font-size: 120%;">Randomly Generate a Workout!<br /> <small class="my-1" style="font-size: 65%;">(<strong>@ViewBag.Total</strong> workouts to randomly choose from)</small></a>
        <br />

        <table class="table table-hover table-responsive-md table-fixed mt-4">
            @foreach (var workout in Model)
            {
                @foreach (var e in workout.Random_Workout.Exercises)
                {
                    <tr>
                        <td><strong>@e.Title</strong></td>
                        <td>
                            <small><label><strong>Reps:</strong></label> @e.Reps</small> ||
                            <small><label><strong>Weight / Speed:</strong></label> @e.Weight</small> ||
                            <small><label><strong>Type</strong></label> @e.Type</small>
                        </td>
                    </tr>
                }
                <tr>
                    <td style="font-weight: bold;">Sets: @workout.Random_Workout.Sets</td>
                </tr>
                }
        </table>
    }
</div>