@model IEnumerable<Exercise>

<main>
    <div>
        <h2>Exercises</h2>
        <form method="get">
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchQuery" />
            </div>
        </form><br />

        @Html.ActionLink("Add a new Exercise", "Create", "Exercise", null, new { @class = "btn btn-primary" })

        @if (!Model.Any())
    {
        <h2>No exercises found!</h2>
}
else
{
    <table class="table table-hover table-responsive-md table-fixed">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Title)</th>
                <th>@Html.DisplayNameFor(m => m.Reps)</th>
                <th>@Html.DisplayNameFor(m => m.Sets)</th>
                <th>@Html.DisplayNameFor(m => m.Weight)</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in Model)
        {
            <tr>
                <td style="font-size: 110%;">@Html.DisplayFor(m => exercise.Title)</td>
                <td>@Html.DisplayFor(m => exercise.Reps)</td>
                <td>@Html.DisplayFor(m => exercise.Sets)</td>
                <td>@Html.DisplayFor(m => exercise.Weight)</td>
                <td>@Html.ActionLink("Details", "Details", "Exercise", new { id = exercise.Id }, new { style = "text-decoration: underline;" })</td>
                <td>@Html.ActionLink("Edit", "Edit", "Exercise", new { id = exercise.Id }, new { style = "text-decoration: underline;" })</td>
                <td>@Html.ActionLink("Delete", "Delete", "Exercise", new { id = exercise.Id }, new { style = "color: red; text-decoration: underline;" })</td>
            </tr>
    }
        </tbody>
    </table>
}

    </div>
</main>
