@model IEnumerable<Exercise>

<main>
    <div>
        <h2>Exercises</h2>

        <div class="row my-3">
            <a href="@Url.Action("Create", "Exercise")" class="btn btn-primary">Add a new Exercise<i class="fa fa-plus" style="margin-left: 10px;"></i></a>
            <a href="@Url.Action("Index", "Exercise")" class="btn btn-secondary">Sort By Title<i class="fa fa-list-ul" style="margin-left: 10px;"></i></a>
            <a href="@Url.Action("SortByType", "Exercise")" class="btn btn-secondary">Sort By Type<i class="fa fa-list-ul" style="margin-left: 10px;"></i></a>
            <div style="margin-left: 20%;">
                @using (Html.BeginForm())
                {
                    <div class="md-form">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        @Html.TextBox("search", null, new { @placeholder = "Search" })
                        <input type="submit" value="Go" />
                    </div>
                }
            </div>
        </div>

        @if (!Model.Any())
        {
            <h2>No exercises found!</h2>
        }
        else
        {
            <table class="table table-hover table-responsive-md table-fixed">
                <thead>
                    <tr>
                        <th data-filter-control="select" data-sortable="true">@Html.DisplayNameFor(m => m.Title)</th>
                        <th data-filter-control="select" data-sortable="true">@Html.DisplayNameFor(m => m.Reps)</th>
                        <th data-filter-control="select" data-sortable="true">@Html.DisplayNameFor(m => m.Weight)</th>
                        <th data-filter-control="select" data-sortable="true">@Html.DisplayNameFor(m => m.Type)</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var exercise in Model)
                    {
                        <tr id="myUL">
                            <td style="font-size: 110%;"><span>@Html.DisplayFor(m => exercise.Title)</span></td>
                            <td>@Html.DisplayFor(m => exercise.Reps)</td>
                            <td>@Html.DisplayFor(m => exercise.Weight)</td>
                            <td><span>@Html.DisplayFor(m => exercise.Type)</span></td>
                            <td>@Html.ActionLink("Details", "Details", "Exercise", new { id = exercise.Id }, new { style = "text-decoration: underline;" })</td>
                            <td>@Html.ActionLink("Edit", "Edit", "Exercise", new { id = exercise.Id }, new { style = "text-decoration: underline;" })</td>
                            <td>@Html.ActionLink("Delete", "Delete", "Exercise", new { id = exercise.Id }, new { style = "color: red; text-decoration: underline;" })</td>
                        </tr>
                    }
                    <tr>
                        <td><pioneer-pagination info="@ViewBag.PaginatedMeta" route="/blog" previous-page-text="hey" next-page-text="you"></pioneer-pagination></td>
                    </tr>

                </tbody>
            </table>
        }
    </div>
</main>

